.route.youth-index {

  .status-message {
    color: $color_brand-blue;
    font-size: 38px;
    font-weight: 100;
    line-height: 55px;
  }

  article {
    margin: 50px auto;  
  }

  h4 {
    color: $color_brand-red; 
    font-weight: 600;
  }

  .timeline-wrapper {
     
  }

}
