<section class="route youth-about">

  <h2>ABOUT THE SUCCESSLINK PROGRAM</h2>

  <div class="about-columns">
    <div class="about-column">
      <p>
        Mayor Martin J. Walsh &amp; Boston Centers for Youth &amp; Families Division of
        Youth Engagement &amp; Employment present the SuccessLink Employment Program. 
        The City of Boston has partnered weith hundreds of community-based nonprofit 
        organizations across the city oto proide meaningful employment eopportunities to 
        thouasnads of Boston teens ages 15 to 18. Participants can work in various 
        positions that include camp counselors, administrative assistants, mural painters, 
        peer leaders and many more!
      </p>

      <p>
        For the summer of 2017, Youth Engagement &amp; Employment (YEE) will be using a 
        lottery to select youth for these job opportunities. The first round of the lottery
        will begin in May 2017. Each applicant will be assigned a number to which marks 
        their position in the lottery after the SuccessLink application closes.
      </p>
    </div>

    <div class="about-column">
      <div class="image-placeholder"></div>
    </div>
  </div>

</section>
