<p>Hello Community Partner,</p>

<p>Please see the following information regarding selection of youth employees for the City of Boston's Summer Employment Program:</p>

<p>To login to Summer Jobs Applicant Review Portal, visit the following link: <a href="<%= @url %>"><%= @url %></a></p>

<p>This is a unique link for you and your organization, so do not share it with untrusted parties. You may immediately review applicants for your positions.</p>

<b>Viewing and selecting your applicants:<b>

<p>You will see a list of applicants that may be interested in working for you. You will also see applicant contact information and are encouraged to reach out to the applicant to schedule an interview. </p>

<p>Starting today, you may review applicants and contact them directly. By April 28th, all of your selections must be noted, which will create an official record of who you want to hire. It is mandatory to select applicants by April 28th to complete legal and HR requirements for employing youth.
<b>You must also complete a mandatory form on your hiring practices here:<b> <a href="https://goo.gl/forms/k71ytvUcvZUxJJmW2">https://goo.gl/forms/k71ytvUcvZUxJJmW2</a></p>

<p><b>Beginning April 5th, and no later than April 28th, you must tell us if you intend to hire specific applicants. On April 5th, the portal will allow you to do this by updating their status in this tool to "hire" or if you do not wish to hire them to "do not hire".</p>

<p>Please feel free to reach out to our team with any questions or if you notice any issues!</p>

<p>Sincerely,</p>

<p>The BCYF Youth Engagement and Employment Team</p>

<p>BCYF Youth Engagement and Employment
1483 Tremont St., Boston, MA 02201
youthline@boston.gov
617-635-4202</p>
