<p>Hello Community Partner,</p>

<p>Please see the follow information regarding selection your employees for the summer employment program:</p>

<p>Logging in to Summer Jobs Applicant Review Portal:</p>

<p>Visit the following link: <a href="<%= @url %>"><%= @url %></a></p>

<p>This is unique to you and your organization, so do not share it with untrusted parties. You may immediately review applicants for your positions. </p>

<p>Viewing and selecting your applicants:</p>

<p>You will see a list of applicants that may be interested in your positions or site. You will be able to see the applicant contact information and reach out to the applicant to schedule an interview. </p>

<p>Starting on April 5th, you must mark if you intend to hire applicants. You can do this by updating their status in this tool to "hire" or if you do not wish to hire them to "do not hire".</p>

<p>Starting today, you may review applicants and contact them directly. By April 28th, you must submit all your selections which will create an official record of who you want to hire. It is mandatory to select applicants by April 28th to complete legal and HR requirements for employing youth.
You must also complete a mandatory form on your hiring practices here: <a href="https://goo.gl/forms/k71ytvUcvZUxJJmW2">https://goo.gl/forms/k71ytvUcvZUxJJmW2</a></p>

<p>Please feel free to reach out to our team with any questions or if you notice any issues!</p>

<p>Sincerely,</p>

<p>The BCYF Youth Engagement and Employment Team</p>

<p>BCYF Youth Engagement and Employment
1483 Tremont St., Boston, MA 02201
youthline@boston.gov
617-635-4202</p>
