<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>Dear SuccessLink Applicant,</p>

  <p>We are emailing to confirm you have declined your job offer.</p>

  <p>Sincerely,</p>

  <p>The BCYF Youth Engagement and Employment Team</p>

  <p>BCYF Youth Engagement and Employment
  1483 Tremont St., Boston, MA 02201
  youthline@boston.gov
  617-635-4202
  <a href="https://www.boston.gov/health-and-human-services/bcyf-youth-engagement-employment">website</a>
  <a href="https://twitter.com/bostonyouthzone">tweet</a>
  <a href="https://www.instagram.com/bostonyouthzone/">insta</a>
  <a href="https://www.facebook.com/Mayorsyouthboston">facebook</a></p>
  </body>
</html>


