<div class="ui container">
  <div class="ui basic segment">
    <h1 class="ui header">
      <%= image_tag('COB_B_Blue-01.png', class: 'ui small image') %> 
      <div class="content">
        Thank you for accepting the job offer! 
      </div>
    </h1>

    <p>You are almost on your way to a summer job. You must do 2 more things:</p>
<ol> 
<li>In the next 3 business days, you will receive instructions to log in to the SuccessLink Portal, update your employee profile, upload documents, and complete onboarding tasks. Be prepared! You can find all of the documents that we’ll need from you <a href="https://docs.google.com/document/d/1DwAm0NfNty4G2XJyMar6Ta2OnzCmBA-6_bXpLQwAjr8/edit?usp=sharing">here</a></li>
<li>After submitting your paperwork, you will need to come in to the BCYF Youth Engagement &amp; Employment (YEE) office to complete the hiring process.  We are located at 1483 Tremont Street, Boston, MA 02120.</li>
    </ol>

    <p><em>YEE Office Hours</em></p>
    <p>Monday, Wednesday &amp; Friday: 2:00 p.m. - 7:00 p.m.</p>
    <p>Tuesday &amp; Thursday: 2:00 p.m. - 8:00 p.m.</p>


<p>NOTE: If you do not upload your documents and complete your paperwork within 5 days, your name will be removed from this position and you will be placed back on the waitlist with no guarantee of a job.</p>
  </div>
</div>
