<ul class="component nav-link-list">

  {{#if isYouth}}
    {{#link-to 'dashboard.youth.index'}}
      <span>VIEW STATUS</span>
    {{/link-to}}
    {{#link-to 'dashboard.youth.profile'}} 
      <span>EDIT PROFILE</span>
    {{/link-to}}
    {{#link-to 'dashboard.youth.jobs'}}
      <span>FIND JOBS</span>
    {{/link-to}}
  {{/if}}

  {{#if isStaff}}
    {{#link-to 'dashboard.staff.users'}}
      <span>MANAGE USERS</span>
    {{/link-to}}
  {{/if}}

  {{#if isPartner}}
  {{/if}}

</ul>
