<section class="route login">

  <form {{action 'authenticate' on="submit"}}>
    <img src="assets/images/boston-logo.svg" class="boston-logo">

    <div class="form-content">
      <h2>LOGIN</h2>

      <article class="form-item">
        {{input placeholder="Username" type="email" value=email}}
      </article>

      <article class="form-item">
        {{input placeholder="Password" type="password" value=password}}
      </article>

      <button type="submit">LOG IN</button>
    </div><!--/ .form-content -->

    <div class="form-error">
      {{#if errorMessage}} 
        <p>{{errorMessage}}</p>
      {{/if}}
    </div>
  </form>

</section>
