.route.send-texts {

  .text-columns {
    display: flex; 
    width: 75%;

    .text-column {
      &:first-of-type { 
        flex: 1 0 71%; 
        max-width: 71%;

        margin-right: 4%; 
      } 
      &:last-of-type { flex: 1 0 25%; }
    }
  }

  .premade-buttons-wrapper {
    margin: 25px auto; 
  }

  .premade-buttons {
    display: flex; 

    button {
      flex: 1 0 24%; 

      margin: 0 .5%;

      font-size: 10px;

      &:first-of-type { margin-left: 0; } 
      &:last-of-type { margin-right: 0; } 
    }
  }

  textarea {
    width: 100%;
    height: 30vh;
    padding: 15px;

    font-size: 14px;

    resize: none;
    outline: none;
    overflow-y: scroll;
  }

  .text-counter {
    margin-top: 6px; 

    color: $color_font-medium;
    font-size: 11px;
    font-weight: 300;
  }


}
