---
http_interactions:
- request:
    method: post
    uri: https://api.icims.com/customers/7383/search/jobs
    body:
      encoding: UTF-8
      string: '{"filters":[{"name":"job.jobtitle","value":["successlink"],"operator":"="}]}'
    headers:
      authorization:
      - Basic bWFwY19hcGk6Nmh3RDZXVGY=
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-language:
      - en-US,us
      x-transaction:
      - "{1316CDEA-6169-85CF-2548-1ED3FD53FC86}"
      x-ratelimit-limit:
      - '20000'
      x-ratelimit-remaining:
      - '18893'
      x-ratelimit-reset:
      - '31271'
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"searchResults":[{"self":"https://api.icims.com/customers/7383/jobs/12634","id":12634}]}'
  recorded_at: Tue, 21 Mar 2017 15:18:49 GMT
- request:
    method: get
    uri: https://api.icims.com/customers/7383/jobs/12634?fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWFwY19hcGk6Nmh3RDZXVGY=
  response:
    status:
      code: 200
      message: 
    headers:
      content-language:
      - en-US,us
      link:
      - https://api.icims.com/customers/7383/jobs/12634;rel="self";title="The current
        profile being viewed.",
      x-transaction:
      - "{B4572AF3-71BC-0299-BDBE-7BA893217AE9}"
      x-ratelimit-limit:
      - '20000'
      x-ratelimit-remaining:
      - '18892'
      x-ratelimit-reset:
      - '31270'
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"jobid":"2017-12634","folder":{"id":"D31001","formattedvalue":"Approved","value":"Approved"},"jobtitle":"Register
        for the 2017 SuccessLink Lottery!","hiringmanager":{"profile":"https://api.icims.com/customers/7383/people/252","id":252,"value":"Deron
        Jackson"},"recruiter":{"profile":"https://api.icims.com/customers/7383/people/39436","id":39436,"value":"Rashad
        Cope"},"links":[{"rel":"self","title":"The current profile being viewed.","url":"https://api.icims.com/customers/7383/jobs/12634"}],"joblocation":{"companyid":3071,"address":"https://api.icims.com/customers/7383/companies/3071/fields/addresses/227","id":227,"value":"CITY
        OF BOSTON: YOUTHLINE (CAREER PEERS) - 1483 Tremont Street  Boston, Massachusetts
        02201-1051 United States "}}'
  recorded_at: Tue, 21 Mar 2017 15:18:50 GMT
- request:
    method: get
    uri: https://api.icims.com/customers/7383/companies/3071/fields/addresses/227
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWFwY19hcGk6Nmh3RDZXVGY=
  response:
    status:
      code: 200
      message: 
    headers:
      content-language:
      - en-US,us
      x-transaction:
      - "{8293AD58-AE3F-05B1-CA74-AF897F683DFA}"
      x-ratelimit-limit:
      - '20000'
      x-ratelimit-remaining:
      - '18891'
      x-ratelimit-reset:
      - '31270'
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"addresscity":"Boston","addresszip":"02201-1051","addressstate":{"id":"D41001024","abbrev":"MA","value":"Massachusetts"},"addresscountry":{"id":"D41001","abbrev":"US","value":"United
        States"},"addressstreet1":"1483 Tremont Street"}'
  recorded_at: Tue, 21 Mar 2017 15:18:51 GMT
- request:
    method: get
    uri: https://search.mapzen.com/v1/search/structured?address=1483+Tremont+Street&api_key=mapzen-mjV6ejV&locality=Boston&region=MA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      charset:
      - utf8
      content-type:
      - application/json; charset=utf-8
      x-apiaxleproxy-qpd-left:
      - '29501'
      x-apiaxleproxy-qps-left:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"geocoding":{"version":"0.2","attribution":"https://search.mapzen.com/v1/attribution","query":{"parsed_text":{"city":"boston","state":"MA","number":"1483","street":"Tremont
        Street"},"size":10,"private":false,"querySize":20},"engine":{"name":"Pelias","author":"Mapzen","version":"1.0"},"timestamp":1490109531309},"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[-71.09824,42.332233]},"properties":{"id":"us/ma/city_of_boston:11b7f274fa1ce80c","gid":"openaddresses:address:us/ma/city_of_boston:11b7f274fa1ce80c","layer":"address","source":"openaddresses","source_id":"us/ma/city_of_boston:11b7f274fa1ce80c","name":"1483
        Tremont Street","housenumber":"1483","street":"Tremont Street","postalcode":"02120","confidence":1,"match_type":"exact","accuracy":"point","country":"United
        States","country_gid":"whosonfirst:country:85633793","country_a":"USA","region":"Massachusetts","region_gid":"whosonfirst:region:85688645","region_a":"MA","county":"Suffolk
        County","county_gid":"whosonfirst:county:102084423","localadmin":"Boston","localadmin_gid":"whosonfirst:localadmin:404476573","locality":"Boston","locality_gid":"whosonfirst:locality:85950361","neighbourhood":"Mission
        Hill","neighbourhood_gid":"whosonfirst:neighbourhood:85869493","label":"1483
        Tremont Street, Boston, MA, USA"}}],"bbox":[-71.09824,42.332233,-71.09824,42.332233]}'
  recorded_at: Tue, 21 Mar 2017 15:18:51 GMT
recorded_with: VCR 3.0.3
