._clear {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both; 
  }
}

._vertical-center {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}


._arrow {
  @extend ._vertical-center;

  content: '';
  z-index: 5; 
  display: block;

  margin: 0 auto;
  height: 0;
  top: 50%;
}
