$color_bg-light: #FFFFFF;
$color_bg-medium: #95989A;
$color_bg-dark: #091F2F;

$color_brand-red: #FB4D42;
$color_brand-blue: #288BE4;
$color_brand-yellow: #E8EF37;

$color_font-light: #f1f2f2;
$color_font-medium: #95989A;
$color_font-dark: #091F2F;

$color_state-warn: #f7b045;


$font_family-primary: 'Montserrat', sans-serif;


$layout_content-width: 75%;
$layout_content-width--max: 1024px;
$layout_content-width--full: 90%;
