.route.staff {

  .table-page {
    min-height: 80vh;

    .pagination {
      top: 15px;  
    }

    .autosave-message {
      position: absolute;
      bottom: -30px;
      right: 20px;

      color: $color_font-medium;
      font-size: 12px;

      opacity: 0;
      transition: opacity .3s;

      &.display {
        opacity: 1; 

        transition: opacity .3s;
      }
    }
  }

}
