.route.partner-applicants {
  font-size: 14px;

  .partner-columns {
    display: flex; 

    margin-top: 60px;

    .partner-column {
      &:first-of-type { flex: 1 1 70%; } 
      &:last-of-type { flex: 1 1 30%; }
    }
  }

  .search-tag {
    width: 100%;
    margin-bottom: 8px; 
    padding-bottom: 8px;

    font-size: 13px;
    font-weight: 600;

    border-bottom: 3px solid $color_brand-red;  
  }

  input {
    width: 100%;
    padding: 9px 12px;

    font-size: 13px; 
  }

  .search-table {
    display: grid;
    grid-template-columns: 100%;

    padding-top: 8px;

    font-size: 11px;

    .header-row {
      font-weight: 600; 
    }

    .row {
      display: grid; 
      grid-template-columns: 2fr 3fr 4fr 2fr 4fr 60px;

      margin: 5px 0;

      .column { 
        padding: 0 5px;

        overflow: hidden;
        text-overflow: ellipsis;

        &:last-of-type { overflow: initial; }
      }

      .star {
        display: inline-block;

        margin-right: 5px;

        color: $color_brand-red; 
      }
    }
  }
}
