<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>Dear SuccessLink Applicant,</p>

  <p>We thank you for applying to the City of Boston summer jobs program. We have found some jobs that match your interest. </p>

  <p><b>**IMPORTANT NEXT STEP**</b> Please click the link below to view and select the jobs that interest you the most (Select up to 10 jobs only).  Once you have selected  jobs that are available, your are required to use the information provided to contact those organizations you are interested in working at. </p>

  <%= @url %>

  <p>Some jobs require a supplemental application you must complete separately.</p>

  <p>We are excited to work with you to find employment opportunities.</p>

  <p>Reminder: this process does not guarantee you a job for the summer.</p>

  <p>Sincerely,</p>

  <p>The BCYF Youth Engagement and Employment Team</p>

  <p>BCYF Youth Engagement and Employment
  1483 Tremont St., Boston, MA 02201
  youthline@boston.gov
  617-635-4202
  <a href="https://www.boston.gov/health-and-human-services/bcyf-youth-engagement-employment">website</a>
  <a href="https://twitter.com/bostonyouthzone">tweet</a>
  <a href="https://www.instagram.com/bostonyouthzone/">insta</a>
  <a href="https://www.facebook.com/Mayorsyouthboston">facebook</a></p>
  </body>
</html>


