.route.dashboard {

  main {
    margin-left: $layout_nav-width - 1px;

    width: calc(100% - $layout_nav-width);
    min-height: 100vh; 
    padding: 2vh;

    background: $color_brand-blue;
    background: linear-gradient(to bottom, $color_brand-blue 0%, mix($color_brand-blue, $color_brand-red, 45) 80%, $color_brand-red 100%);
  }

  .main__content {
    padding: 45px 60px;
    width: 100%;
    min-height: 96vh;

    background: $color_bg-light; 
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
    color: $color_brand-red; 
  }

  h3 { font-size: 16px; }

}
