button {
  padding: 6px 16px;

  color: $color_font-light;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1px;

  background: $color_brand-blue;
  border: none;
  outline: none;
  transition: background .2s;

  &:hover {
    background: $color_brand-blue--active; 
    transition: background .2s;
  }

  &.small {
    padding: 5px 13px;

    font-size: 14px;
    font-weight: 400;
  }

  &.destructive {
    background: $color_brand-red; 

    &:hover { background: $color_brand-red--active; }
  }

  &.disabled {
    cursor: default; 

    background: $color_bg-medium;
  }

}
