.form-page {
  min-height: 100vh;

  text-align: center;

  background: $color_bg-medium;


  form {
    @extend ._vertical-center;
    top: 35%;

    .boston-logo { top: $layout_logo-size / 2.5; }

    .form-content {
      $border-width: 4px;

      width: 450px;
      margin: 0 auto;
      padding: 40px 30px 0px;

      background: $color_bg-light;

      border: $border-width;
      border-style: solid;
      border-image: linear-gradient(to bottom, $color_brand-yellow 0%, $color_brand-red 100%) 1 100%;

      &:after, &:before {
        content: '';
        position: absolute;
        left: -$border-width;
        z-index: 1;
        display: block;

        width: calc(100% + 8px);
      }

      &:before {
        top: -$border-width; 
        border-top: $border-width solid $color_brand-yellow;
      }

      &:after {
        bottom: -$border-width;
        border-bottom: $border-width solid $color_brand-red; 
      }

      h2 {
        margin: 10px auto 16px;
        font-size: 28px;
      }

      input { width: 100%; }

      button { margin: 20px auto 35px; }
    }
    
  }


}
