<p>Hello YEE Staff Person,</p>

<p>To login to Summer Jobs Applicant Review Portal, visit the following link: <a href="<%= @login_url %>"><%= @login_url %></a></p>

Username: <%= @user.email %><br>
Password: <%= @password %>
<p>Please feel free to reach out to our team with any questions or if you notice any issues!</p>

<p>Sincerely,</p>

<p>The BCYF Youth Engagement and Employment Team</p>

<p>BCYF Youth Engagement and Employment
1483 Tremont St., Boston, MA 02201
youthline@boston.gov
617-635-4202</p>
