<div class="ui container">
  <div class="ui basic segment">
    <h1>We're sorry that you did not want this job. Can you tell us why?</h1>

    <p>If you meant to accept this offer, return to your email and click accept to change your response.</p>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdUoLQEMq69cNCNw0Z_VwvDU-eL3dQ1sNtNwxIG9_KiyTAVEw/viewform?embedded=true" width="700" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</div>