.route.jobs-index {

  .no-results {
    margin-top: 50px;
    margin-left: 4%;

    color: $color_font-medium; 
    font-size: 13px;
    font-weight: 100;
  }

  .search-box {
    width: 100%; 
    margin-bottom: 0;
    padding: 6px 8px;

    font-size: 11px;
  }

}
