.route.jobs-index {

  .jobs-overview {
    display: flex; 

    margin-bottom: 75px;

    .content-column {
      flex: 1 0 55%;

      &:first-of-type {
        flex: 1 0 40%;

        padding-top: 30px;
        margin-right: 5%;
      }
    }

    p {
      margin: 10px auto;
      padding-bottom: 10px;

      font-size: 14px; 

      border-bottom: 1px solid $color_brand-blue;
    }
  }

  .job-categories {
    margin-top: 45px; 
  }

}
