.route.youth-jobs-job {
  padding-bottom: 100px;

  .back-link {
    display: inline-block;
    margin-bottom: 15px;
  
    color: $color_brand-blue; 
    font-weight: 600;
    font-size: 20px;

    &:hover { color: $color_brand-blue--active; }
  }

  .youth-job-list {
    margin-top: 15px; 
  }

  .job-box {
    h5 { font-size: 14px; }

    p {
      font-size: 13px; 
      font-weight: 300;

      border: none;

      &.max-reached {
        margin-top: 25px !important;
        font-weight: 400;
      }

      h5 {
        color: $color_font-dark; 
        font-size: 13px;
        font-weight: 600;
      }
    } 

    & + .job-box { border-top: none; }

    button {
      width: 100%;

      font-size: 12px;
    }
  }

}
