<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <style type="text/css">
      <%= Rails.application.assets['scaffolds.scss'].to_s.html_safe %>
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
